body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#qr-reader {
  margin: auto;
  width: 50%;
}

#qr-reader-results {
  font-size: 18px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
